.heading {
  float: center;
  text-align: left;
  padding: 10px;
  text-decoration: none;
  font-size: 17px; 
  line-height: 35px;
  border-radius: 4px;
  background: hsla(61, 72%, 72%, 0.404);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    text-align: center;
  }
  h1{
      text-align: center;
      padding: 1px;
      
  }

  p {
	margin-left: 20px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}
